USE [master]

GO
USE [ProyGestionCambios]

GO
SET IDENTITY_INSERT [dbo].[Actividad] ON 

INSERT [dbo].[Actividad] ([idActividad], [nombreActividad]) VALUES (1, N'Documento: Valoraciones')
INSERT [dbo].[Actividad] ([idActividad], [nombreActividad]) VALUES (2, N'Análisis')
INSERT [dbo].[Actividad] ([idActividad], [nombreActividad]) VALUES (3, N'Documento: Actualización Diseño Funcional')
SET IDENTITY_INSERT [dbo].[Actividad] OFF
GO
SET IDENTITY_INSERT [dbo].[CostosTotales] ON 

INSERT [dbo].[CostosTotales] ([idCostosTotales], [totalJornadas], [totalCosto], [costoMedio]) VALUES (1, 4.4, 2953.71, 671.3)
INSERT [dbo].[CostosTotales] ([idCostosTotales], [totalJornadas], [totalCosto], [costoMedio]) VALUES (2, 4.5, 2868.36, 637.41333333333341)
INSERT [dbo].[CostosTotales] ([idCostosTotales], [totalJornadas], [totalCosto], [costoMedio]) VALUES (6, 5.3, 5736.72, 1082.4)
SET IDENTITY_INSERT [dbo].[CostosTotales] OFF
GO
SET IDENTITY_INSERT [dbo].[Estimacion] ON 

INSERT [dbo].[Estimacion] ([idEstimacion], [razonSocial], [fecha], [idCostosTotales], [idUsuarios]) VALUES (1, N'Telefónica del Perú', CAST(N'2021-11-23' AS Date), 1, 1)
INSERT [dbo].[Estimacion] ([idEstimacion], [razonSocial], [fecha], [idCostosTotales], [idUsuarios]) VALUES (22, N'Americatel Perú', CAST(N'2021-11-27' AS Date), 2, 8)
INSERT [dbo].[Estimacion] ([idEstimacion], [razonSocial], [fecha], [idCostosTotales], [idUsuarios]) VALUES (27, N'Entel Perú S.A.', CAST(N'2021-11-28' AS Date), 6, 9)
SET IDENTITY_INSERT [dbo].[Estimacion] OFF
GO
SET IDENTITY_INSERT [dbo].[PerfilConsultor] ON 

INSERT [dbo].[PerfilConsultor] ([idPerfilConsultor], [nombrePerfil], [costoPerfil]) VALUES (1, N'Consultor Estratégico', 1865.46)
INSERT [dbo].[PerfilConsultor] ([idPerfilConsultor], [nombrePerfil], [costoPerfil]) VALUES (2, N'Jefe de Proyecto', 874.86)
INSERT [dbo].[PerfilConsultor] ([idPerfilConsultor], [nombrePerfil], [costoPerfil]) VALUES (3, N'Técnico de Sistemas', 717.09)
SET IDENTITY_INSERT [dbo].[PerfilConsultor] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistroTarea] ON 

INSERT [dbo].[RegistroTarea] ([idRegistroTarea], [nroJornadas], [idEstimacion], [idTarea]) VALUES (9, 0.5, 1, 1)
INSERT [dbo].[RegistroTarea] ([idRegistroTarea], [nroJornadas], [idEstimacion], [idTarea]) VALUES (10, 0.5, 1, 2)
INSERT [dbo].[RegistroTarea] ([idRegistroTarea], [nroJornadas], [idEstimacion], [idTarea]) VALUES (11, 0.5, 1, 4)
SET IDENTITY_INSERT [dbo].[RegistroTarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([idTarea], [nombreTarea], [idPerfilConsultor], [idActividad]) VALUES (1, N'Cierre de Requisitos / Valoración', 3, 1)
INSERT [dbo].[Tarea] ([idTarea], [nombreTarea], [idPerfilConsultor], [idActividad]) VALUES (2, N'Diseño Funcional', 3, 2)
INSERT [dbo].[Tarea] ([idTarea], [nombreTarea], [idPerfilConsultor], [idActividad]) VALUES (3, N'Diseño Funcional', 3, 3)
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuarios], [usuario], [clave]) VALUES (1, N'dvera', N'123456')
INSERT [dbo].[Usuarios] ([idUsuarios], [usuario], [clave]) VALUES (8, N'rvaldez', N'123456')
INSERT [dbo].[Usuarios] ([idUsuarios], [usuario], [clave]) VALUES (9, N'jmallqui', N'123456')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Estimacion]  WITH CHECK ADD  CONSTRAINT [FK_CostosTotales] FOREIGN KEY([idCostosTotales])
REFERENCES [dbo].[CostosTotales] ([idCostosTotales])
GO
ALTER TABLE [dbo].[Estimacion] CHECK CONSTRAINT [FK_CostosTotales]
GO
ALTER TABLE [dbo].[Estimacion]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios] FOREIGN KEY([idUsuarios])
REFERENCES [dbo].[Usuarios] ([idUsuarios])
GO
ALTER TABLE [dbo].[Estimacion] CHECK CONSTRAINT [FK_Usuarios]
GO
ALTER TABLE [dbo].[RegistroTarea]  WITH CHECK ADD  CONSTRAINT [FK_Estimacion] FOREIGN KEY([idEstimacion])
REFERENCES [dbo].[Estimacion] ([idEstimacion])
GO
ALTER TABLE [dbo].[RegistroTarea] CHECK CONSTRAINT [FK_Estimacion]
GO
ALTER TABLE [dbo].[RegistroTarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea] FOREIGN KEY([idTarea])
REFERENCES [dbo].[Tarea] ([idTarea])
GO
ALTER TABLE [dbo].[RegistroTarea] CHECK CONSTRAINT [FK_Tarea]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Actividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Actividad]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_PerfilConsultor] FOREIGN KEY([idPerfilConsultor])
REFERENCES [dbo].[PerfilConsultor] ([idPerfilConsultor])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_PerfilConsultor]
GO
USE [master]
GO
